:root {
--color-primary: #058527;
--color-secondary: #DDA546;
--color-alert: #d1453b;
--color-inactive: #999;
--color-lightgrey: #ccc;
}

body {
    margin: 1em 1em 1em 1em;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainRecipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.recipeCard {
    width: 300px; /* Adjust width as needed */
    max-width: 300px; /* Adjust max-width as needed */
    margin: 10px; /* Adjust margin as needed */
    padding: 20px; /* Adjust padding as needed */
    background-color: #fff; /* Background color */
    border: 1px solid var(--color-lightgrey); /* Grey border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    text-decoration: none;
    color: inherit;

  }

  @media (min-width: 883px) and (max-width: 1118px){
    .recipeCard {
      width: 225px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 882px) {
    .recipeCard {
      min-width: 250px;
    }
  }

  @media (max-width: 768px) {
    .recipeCard {
      width: 90%;
      max-width: none; /* Reset max-width for smaller screens */
    }
  }

  .recipeCard.hovered {
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;
  }

  .recipeCard.hovered hr.recipeCardHR{
    border-top: 6px dotted white;
    opacity: 0.75;
  }

  .searchForm {
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
  }

  .searchForm input {
    padding: 0.5em;
    height: 1em;
    font-size: larger;
    width: 65%;
    border-radius: 8px;
    border-color: transparent;
    background-color: white;
    opacity: 0.5;
  }

  .searchForm input:focus {
    outline: none !important;
    opacity: 1;
    background-color: white;
  }

  .searchForm input:focus::placeholder {
    color: var(--color-primary);
  }

  .RecipePage{
    max-width: 1000px;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    margin: 0 auto;
  }

  .GoBack {
    text-decoration: none;
    color: inherit;

    width: 80px;
    border: 1px solid var(--color-lightgrey);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 1em;
    justify-content: center;
    display: flex;
  }

  .GoBack:hover {
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;
  }

  .postHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .postHeader h1{
    font-size: 35px;
  }

.postContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.postMetadata {
  border-bottom: 1px solid var(--color-lightgrey);
  width: 50%;
  margin: 1em 0em 1em 0em;
}

hr.recipeCardHR {
  border-top: 6px dotted var(--color-lightgrey);
  text-decoration: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer {
  font-size: small;
}

.itemNotFound {
  width: auto;
  padding: 20px;
  color: var(--color-alert);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemNotFoundH1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.icon {
  font-size: 17px;
}
.cafe {
  font-size: 20px;
}

.invader {
  font-size: 18px;
}

.loading {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-secondary)
}